   <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3  border-bottom shadow-sm" style="background: #5600A1; color:#fff">
  <h5 class="my-0 mr-md-auto font-weight-normal"> <i class='fas fa-snowflake' style='font-size:36px'></i> &nbsp Login App 1.0.1</h5>
  <nav class="my-2 my-md-0 mr-md-3" >
    {{#if user}}
      <a class="p-2 text-white" href="/">Home</a>
    {{else}}
    <a class="p-2 text-white" href="/">Home</a>
     <a class="p-2 text-white" href="/users/login">Login</a>
    <a class="p-2 text-white" href="/users/register">Register</a>
    {{/if}}
  
  </nav>
{{#if user}}
  <a class="btn btn-outline-warning" href="/users/logout">Sign Out</a>
  {{/if}}
</div>