<!-- Begin page content -->
    <main role="main" class="container">
      <h1 class="mt-5">Login App</h1>
      <p class="lead">This app is simply designed to demostrate How to create a Register, Login System Using Node Js , Express and Mongo Db <code> #bongomndaniel #codegeek</code> #Learn Nodejs <code>body &gt; .#danny</code>.</p>
      <p>Back to GitHub Code <a href="https://github.com/bongomin/login_system_nodejs_-_passport">The Application is Designed with Well defined comments that make it easy for a learner to follow the code</a> code</p>
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">designed and programed by | Bongomin Daniel @ 2019</span>
      </div>
    </footer>




    